@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@200;300;400;700;900&display=swap');



body{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #FFFFFF;
}


header{
	padding: 20px 35px;
	background-color: #000000;
}

header .nav-link{
	margin: 0 10px;
	font-size: 14px;
}

header .social-nav i{
	font-size: 25px;
	margin: 0 0 0 5px;
}
/*Main page*/

#hero{
	background-color: #111111;
	text-align: center;
	background-image: url("../img/fondo-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #FFFFFF;
}

.overlay{
	background-color: rgba(0,0,0,0.7);
	padding: 6%;
}

#hero h1{
	font-size: 80px;
	text-transform: uppercase;
	font-family: 'Bebas Neue', cursive;
	text-align: center;
}

#hero img{
	height: 300px;
	margin-bottom: 30px;
}

#hero p{
	font-size: 16px;
}

/*Producci칩n Audiovisual*/

#hero-produccion{
	background-color: #111111;
	text-align: center;
	background-image: url("../img/fondo-2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #FFFFFF;
	padding: 8%;
}

#hero-produccion h1{
	font-size: 80px;
	text-transform: uppercase;
	font-family: 'Bebas Neue', cursive;
	text-align: center;
}

#seccion video{
	align-content: center;
	margin: 50px 0;
}

#seccion{
	background-color: #000;
	text-align: center;
	color: #fff
}

#seccion h2{
	font-weight: bolder;
	padding-top: 70px;
	font-size: 60px;
}

#seccion h3{
	color: #FFD400;
}

#seccion p{
	margin-top: 10px;
}

#seccion .btn{
	background-color: #FFD400;
	margin-top: 5px;
}

#seccion img{
	margin: 10px 0;
}
/*Dise침o Gr치fico*/

#hero-diseno{
	background-color: #111111;
	text-align: center;
	background-image: url("../img/fondo-9.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #FFFFFF;
	padding: 8%;
}

#hero-diseno h1{
	font-size: 80px;
	text-transform: uppercase;
	font-family: 'Bebas Neue', cursive;
	text-align: center;
}

#seccion{
	background-color: #000;
	text-align: center;
	color: #fff
}

/*Animaci칩n*/
#hero-animacion{
	background-color: #111111;
	text-align: center;
	background-image: url("../img/fondo-7.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #FFFFFF;
	padding: 8%;
}

#hero-animacion h1{
	font-size: 80px;
	text-transform: uppercase;
	font-family: 'Bebas Neue', cursive;
	text-align: center;
}


#perfil{
	background-color: #000;
	padding: 60px 0;
	text-align: center;
	color: #fff;
	
}

#perfil h2{
	font-weight: bold;
	margin-bottom: 10px;
	color: #EAEAEA;
}


#perfil i{
	font-size: 70px;
	margin-bottom: 35px;
	color: #EAEAEA;
}

#perfil ul{
	margin: 0 20px 75px 20px;
}

footer{
	background-color: #000;
	color: #66717E;
	padding: 30px 0;
	text-align: center;
}


hr{
	color: #FFFFFF;
	margin-top: 30px;
	
}


.capa-contenido{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-align: center;
	display: grid;
	align-content: center;
	background-color: rgba(0,0,0,0.40);
	color: #FFFFFF;
	opacity: 0;
	transition: all 0.4s ease-in-out;
}

.capa-galeria.zoom img{
	transform: scale(1);
	transition: all 0.5s ease-in-out;
}
.capa-galeria.zoom:hover img{
	transform: scale(1.10);
	transition: all 0.5s ease-in-out;
}

.capa-galeria{
	position: relative;
	overflow: hidden;
}

.capa-contenido:hover{
	opacity: 1;
	transition: all 0.4s ease-in-out;
}


.capa-contenido i{
	font-size: 40px;
	color: #fff;
}
